@if (Session["username"] == null)
{


    <ul class="nav navbar-nav navbar-right">
        @*<li>
            @Html.ActionLink("Register", "Register", "Account", null, null)
        </li>*@
        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>
      
    </ul>
}


else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Welcome !  " + Session["username"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>

    </ul>
}

@if (Session["admin_id"] != null)
{<ul class="nav navbar-nav navbar-right">
    @*<li>
        @Html.ActionLink("Hi! Admin " , "Index", "Home", null, null)
    </li>*@
    <li>
        @Html.ActionLink("Logout admin", "Logout", "Account", null, null)
    </li>
</ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
   
    <li>
        @Html.ActionLink("Login admin", "LoginAdmin", "Account", null, null)
    </li>
</ul>
}
